/* .styler {
    background-color: pink !important;
}

.worksheetHeader {
    background-color: pink !important;
}

aside {
    background-color: pink !important;
}

main {
    background-color: pink !important;
} */

.a main {
    background-color: red !important;
}

.b main {
    background-color: pink !important;
}